<div class="container__content">

  <div class="content__photo">
    <img src="./assets/khun2.jpg" alt="test">
  </div>
  <div class="content__title">
    <h1>Thomas Kuhn Theory</h1>
  </div>
  <div class="content__text">
    <p>
      Thomas Kuhn (1922-1996) was an America historian and philosopher of science. He wrote one of the
       most influential and controversial books of the 20th century called ``The structure of Scientific
        Revolution``. His interest was in how scientists approach their daily work and think about the
        question of how Science develops over time.
    </p>
    <p>
      Khun introduced the term “paradigm” as a set of universally recognized principles, methodological
      processes and cultural concepts that shape the science in a certain era. Kuhn argues that
      paradigms are incommensurable, meaning that there is no language or set of objective criteria that
       can be used to directly compare different paradigms. Each paradigm shapes reality in a unique
       way, making direct comparison between theories difficult. Nowadays, however, this term are
       expanded and used in another areas such as information technology, business, psychology,
       linguistic, and so on.
    </p>
    <p>
      For Khun, Science develops in two phases, one called normal and another extraordinary or
      revolutionary. “Normal science” is periods of conceptual continuity where there is cumulative
      progress within a settled paradigm or explanatory framework. The normal science is interrupted
      by periods of revolutionary science. The discovery of "anomalies" during revolutions in science
      leads to new paradigms. New paradigms then raise new questions of old data, moving beyond the
      mere puzzle-solving of the previous paradigm, change the rules of the game and taking scientific
      research to new paths.
    </p>
    <p>
      His main contribution was to bring about a significant chance about the way that people viewed
      scientific development. The standard view of scientific progression before Khun is that science
      is a piecemeal cumulative process (linear progression of slow and steady incremental refinement
      of the knowledge). His approach emphasized the non-linear and discontinuous nature of scientific
      evolution.
    </p>
  </div>
  <a [routerLink]="['']"> << VOLTAR </a>

</div>
