<div class="container__content">

  <div class="content__photo">
    <img src="./assets/http2.png" alt="test">
  </div>
  <div class="content__title">
    <h1>Requisição HTTP e método fetch no JavaScript</h1>
  </div>
  <div class="content__text">
    <p>
      Uma requisição HTTP - Hypertext Transfer Protocol - é um pedido enviado por um cliente/usuario a
      um servidor web para solicitar algum recurso. Esses recursos podem incluir diferentes tipos de
      dados como documentos HTML, imagens, arquivos de estilo, scripts, etc. O protocolo HTTP é usado
      para comunicação entre clientes e servidores na World Wide Web.
    </p>
    <p>
      Os <strong>métodos</strong> de uma requisição HTTP indica a ação que o cliente deseja realizar.
      Os mais comuns são:
    </p>
    <ol>
      <li>
        <strong>GET</strong> para obter dados do servidor;
      </li>
      <li>
        <strong>POST</strong> para enviar dados para o servidor (geralmente utilizados para enviar
        dados de formulários e cadastros);
      </li>
      <li>
        <strong>PUT</strong> para atualizar um recurso existente no servidor;
      </li>
      <li>
        <strong>DELETE</strong> para excluir algo no servidor.
      </li>
    </ol>
    <p>
      o Método <strong>Fetch</strong> é uma função nativa do JavaScript utilizada para fazer requisições
      HTTP assíncronas. Ele fornece uma maneira mais flexível e poderosa para trabalhar com solicitações
      e respostas HTTP. A Fetch API retorna <strong>Promises</strong>, que são objetos que representam o
      resultado eventual (ou falha) de uma operação assíncrona, possuindo 3 estados: pendente, resolvida
      (fulfilled) e rejeitada. Isso simplifica o tratamento de requisições assíncronas e torna o
      código mais legível (facil de entender e escrever). Isso é especialmente útil quando você precisa
      realizar várias operações em sequência.
    </p>
    <p>
      O método "fetch" aceita um ou dois argumentos, sendo o primeiro obrigatório, uma URL da requisição.
      Já o segundo argumento é opcional, podendo ser um obeto de opções que pode ser usado para configurar
      a requisição, como adicionar cabeçalhos (headers) ou definir o método HTTP. Abaixo se encontra um
      modelo de como passar os argumentos para o fetch.
    </p>
    <img src="./assets/http3.png" alt="aplicação do método fetch">
    <p>
       O <strong> objeto resposta (Response)</strong> retornado por fetch() contém várias informações
       sobre a requisição, incluindo o corpo da resposta, status, cabeçalhos, etc. Esse objeto possui
       métodos que peritem acessar o corpo de resposta de diferentes maneiras. O mais utilizado é o
       <strong>método json()</strong> que retorna uma Promise que resolve para o corpo da resposta
       parseado como JSON. O <strong>método .then</strong> é usado para encadear operações assíncronas.
       No contexto do fetch, é comumente utilizado para manipular a resposta da requisição e realizar
       ações após o término da requisição. O <strong>método catch</strong> é usado para lidar com
       possíveis erros que podem ocorrer durante o processamento da Promise. Abaixo se encontra um
       modelo de como utilizar o fetch e seus principais métodos.
    </p>
    <img src="./assets/http4.png" alt="uso dos metodos json e then">



  </div>
  <a [routerLink]="['']"> << VOLTAR </a>
</div>
