<div class="container__content">

  <div class="content__photo">
    <img src="../../../../assets/mapKnowledge2.png" alt="test">
  </div>
  <div class="content__title">
    <h1>A map of all knowledge and human experience</h1>
  </div>
  <div class="content__text">
    <p>
      According to Integral Theory, there are at least four primary dimensions (quadrants)
      that we can experience the world. In other words, our lives can be viewed from different
      perspectives.
    </p>
    <p>
      The first quadrant (Q1) is related to internal individual aspects of our life (subjective):
      thoughts, feelings, moods, logic and immediate sensations. Examples are Freud`s work that
      focused on internal individual life; stoics, Buddhists and any type of religion that focus on
      the relationship to internal world or Searle’s phenomenology that seek to understand human
      experience without previous experience, in a pure way.
    </p>
    <p>
      The second quadrant (Q2) is related to exterior aspects (objective), such as our material
      body (including brain) and anything that we can see or touch (or observe scientifically) in
      time and space. It is the realm of hard science like physics, chemistry and biology. It is
      the quadrant of empiricism and studying of individual things through observation and measurement.
       You isolate the individual being to be studied and you experiment to understand its qualities
       and its nature. Every scientist, such as Einstein, Marie Curie and Charles Darwin, belongs to
       this quadrant. We also classify the work of John Locke and B. F. Skinner in this dimension of
       knowledge.
    </p>
    <p>
      The third quadrant (Q3) is about the internal collective (intersubjective). In other words, how
       we access the world by language, culture, value systems and worldviews. They are intangible
       (we don’t directly touch) but would shape our experience of the world. In the Q3 we find
       Nietzsche’s work on the revaluation of all values. We have Thomas Kuhn work on paradigms as
       being the grounding culture that the science exists in at any moment in time. We have
       structuralisms and their search for the underline structures of human life. We have Foucault
       works on power, Scissors works on semiotics, Adam Smith`s invisible hand of the market and so on.
    </p>
    <p>
      The fourth quadrant (Q4) includes the exterior of any of the social aspects of human interaction,
      including forces of production and techno-economic modes, architectural structures, transportation
       systems, physical infrastructure and so forth. We have fields like ecology and chaos theory,
       Marx`s economic theories and statistical studies of human societies. Jordan Peterson published
       papers about ocean personality models. Stiven pinker also well.
    </p>
  </div>
  <a [routerLink]="['']"> << VOLTAR </a>

</div>
