<div class="container__menu-title">

  <hr />
  <h1>My Personal Blog</h1>
  <p>Short texts written by me about technology, science, education, philosophy and travel.
    All texts are written in English, except about technology. The reason is that, firstly,
    this content is easier to find in English than in Portuguese. Secondly, in order to help
    those who have difficulties with English and are starting out in the IT area, I decided
    to write in Portuguese due to them.
  </p>
  <hr />

</div>
