.container__articles {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and  (min-width:660px) {
  .container__articles{
    margin: 20px 0 20px 35px;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and  (min-width: 960px) {
  .container__articles{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and  (min-width: 1270px) {
  .container__articles{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and  (min-width: 1560px) {
  .container__articles{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

