<div class="container__menu-bar">
  <ul>
    <li><button (click)="filterByCategory(null)">All</button></li>
    <li><button (click)="filterByCategory('technology')">Technology</button></li>
    <li><button (click)="filterByCategory('science')">Science</button></li>
    <li><button (click)="filterByCategory('education')">Education</button></li>
    <li><button (click)="filterByCategory('philosophy')">Philosophy</button></li>
    <li><button (click)="filterByCategory('travel')">Travel</button></li>
  </ul>

</div>
